<form novalidate class="form-horizontal" ng-submit="save()">
	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" ng-model="taskboard.name" id="name" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea ng-model="taskboard.description" id="description"></textarea>
		</div>
	</div>
    <div class="control-group">
        <label class="control-label" for="start">Start Date</label>
        <div class="controls">
            <input type="date" ng-model="taskboard.start" id="start">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="end">End Date</label>
        <div class="controls">
            <input type="date" ng-model="taskboard.end" id="end">
        </div>
    </div>
	<div class="control-group">
		<button id="save" class="btn btn-primary">Create New Taskboard</button>
	</div>
</form>