<div class="row">
    <div class="col-md-4">
        <h1>{{taskboard.name}}</h1>

        <h2>Total Points: {{taskboard.totalPoints}}</h2>
        <small class="muted">{{taskboard.createdOn | date:'medium'}}</small>
        </h2>
        <hr>
        <div>
            <p class="lead">
                {{taskboard.description}}
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <h2>
            <a class="btn btn-primary pull-right" href="#/taskboards/{{taskboard.id}}/tasks/new"><i
                    class="glyphicon glyphicon-plus"></i> Add Task</a>
        </h2>
        <ul class="list-unstyled">
            <li ng-repeat="task in taskboard.tasks">
                <input type="text" value="{{task.task}}" class="col-md-8">
            </li>
        </ul>
    </div>
</div>

